/* You can add global styles to this file, and also import other style files */
// regular style toast
@import "~ngx-toastr/toastr";
// @import "~ngx-sharebuttons/themes/default/default-theme"; 

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
